body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: aliceblue;
}

.form{
    width: 70%;
    height: 60vh;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    padding: auto;
}

.input{
    background-color: white;
    border-radius: 15%;
    border: 2px solid rgba(0, 0, 0, 0.2);
}