body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.2);
}