body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: aliceblue;
    margin: 0;
}

.form{
    width: 70%;
    height: 60vh;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 20px;
    text-align: center;
}

.input-group input{
    display: block;
    margin-bottom: 12px;
    padding: 12px 18px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}