body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: aliceblue;
}

.form{
    width: 80%;
    height: 80%;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    padding: auto;
}